/* generic content area (preview + detail pages) */
.content-preview ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}

.content-preview ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}

.content-preview li {
  margin-bottom: 0.25rem;
}
